<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="logImpl" value="LOG4J2" />
    </settings>
    <plugins>
        <plugin interceptor="io.mycat.monitor.support.mybatis.PaginationInterceptor"></plugin>
    </plugins>
</configuration>